<h1>Listing projects</h1>


<% @projects.each do |project| %>
    <ul>
      <%= link_to project.name, project %> Goal: <%= project.goal %>
        <% project.contributions.each do |contribution| %>
          <li>
            <%= User.find(contribution.user_id).name %> - <%= contribution.amount %>
          </li>
        <% end %>
        <br>Total Contributed: <%= project.total %>
    </ul>
    <%= link_to 'Contribute', new_contribution_url  %>
<% end %>

<%= link_to 'New Project', new_project_path %>
